.title {
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #888888;
  text-align: center;
}

.remember-me-container {
  width: 50%;
  margin: 0 auto;
}

#harvestUrl {
  width: 35%;
}

#harvestUrlWrapper {
  margin: 0 auto;
  display: inline;
}